.container {
    max-width: 75% !important;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #86787828;
    border-radius: 12px;
    background-color: #d1e2e3d8;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Bên trái chiếm 3 phần, bên phải chiếm 2 phần */
    gap: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-label,
.time-display,
.status-display,
.total-display,
.payment-display,
.address-display {
    font-size: 16px;
    font-weight: bold;
    color: #005f73;
}

.items-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    color: #023e8a;
    align-self: flex-start;
}

.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #0e0707; /* Thêm border cho mỗi dòng */
}

.item-name,
.item-quantity,
.item-price,
.item-total {
    padding: 0 10px; /* Thêm khoảng cách giữa các cột */
}

.item-name {
    flex: 2;
    text-align: left;
}

.item-quantity {
    flex: 1;
    text-align: center;
}

.item-price {
    flex: 1;
    text-align: right;
}

.item-total {
    flex: 1;
    text-align: right;
}
