.addUser {
    background-color: white;
    width: 25%;
    margin: 50px auto;
    /* margin in top and bottom will be 50px  */
    /* left and right auto  */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  
    /* horizon offset vertical offset blur offset  */
    /* opacity of shadow */
    /* red, green, blue, and (opacity ). */
  }
  
  .resetPasswordForm .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .resetPasswordForm .inputGroup label {
    margin-top: 10px;
  }
  
  .resetPasswordForm .inputGroup input {
    margin-top: 5px;
    padding: 10px;
  }
  
  .resetPasswordForm .inputGroup button {
    margin-top: 10px;
  }
  .strength-bar {
    margin-top: 4px;
    height: 8px;
    background-color: #e5e7eb;
    border-radius: 4px;
  }
  
  .bar {
    height: 100%;
    border-radius: 4px;
    transition: width 0.3s;
  }
  .message {
    margin-top: 20px;
    text-align: center;
    color: darkcyan;
  }
  